<header class="l-header u-hidden-sp">
  <div class="c-frame">
    <div class="c-frame-wrap">
      <div class="l-header__wrap">
        <div class="l-header__container">
          <a href="#" class="l-header__logo">
            <img src="./assets/images/logo_01.png" alt="カルディロゴ">
          </a>
          <div class="l-header__menu">
            <ul class="l-header__list">
              <li class="l-header__item">
                <a href="#" class="l-header__itemWrap">
                  <div class="l-header__shop"></div>
                  <p class="l-header__index">店舗検索</p>
                </a>
              </li>
              <li class="l-header__item">
                <a href="#" class="l-header__itemWrap">
                  <div class="l-header__store"></div>
                  <p class="l-header__index">オンラインストア</p>
                </a>
              </li>
              <li class="l-header__item">
                <a href="#" class="l-header__itemWrap">
                  <div class="l-header__office"></div>
                  <p class="l-header__index">法人サービス</p>
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</header>

<header class="l-spHeader u-hidden-pc">
  <div class="l-spHeader__top">
    <div class="l-spHeader__humburger js-humburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a href="#" class="l-spHeader__logo">
      <img src="./assets/images/logo_01.png" alt="カルディ">
    </a>
  </div>

  <div class="l-spHeader__menu">
    <div class="l-spHeader__wrap">
      <div class="l-spHeader__container">
        <a class="l-spHeader__containerWrap" href="#">
          <div class="l-spHeader__icon"></div>
          <div class="l-spHeader__heading">店舗検索</div>
          <div class="l-spHeader__translation">STORE</div>
        </a>
        <a class="l-spHeader__containerWrap" href="#">
          <div class="l-spHeader__icon l-spHeader__icon--More"></div>
          <div class="l-spHeader__heading">オンラインストア</div>
          <div class="l-spHeader__translation">ONLINE STORE</div>
        </a>
      </div>
      <ul class="l-spHeader__list">
        <li class="l-spHeader__item">
          <a class="l-spHeader__link" href="#">
            <div class="l-spHeader__sell">
              <div class="l-spHeader__index">
                <div class="l-spHeader__title">特集</div>
                <p class="l-spHeader__text">FEATURES</p>
              </div>
              <div class="l-spHeader__sign"></div>
            </div>
          </a>
        </li>
        <li class="l-spHeader__item">
          <a class="l-spHeader__link" href="#">
            <div class="l-spHeader__sell">
              <div class="l-spHeader__index">
                <div class="l-spHeader__title">新商品</div>
                <p class="l-spHeader__text">NEW ITEMS</p>
              </div>
              <div class="l-spHeader__sign"></div>
            </div>
          </a>
        </li>
        <li class="l-spHeader__item">
          <a class="l-spHeader__link" href="#">
            <div class="l-spHeader__sell">
              <div class="l-spHeader__index">
                <div class="l-spHeader__title">お買い得情報</div>
                <p class="l-spHeader__text">PRICE</p>
              </div>
              <div class="l-spHeader__sign"></div>
            </div>
          </a>
        </li>
        <li class="l-spHeader__item">
          <a class="l-spHeader__link" href="#">
            <div class="l-spHeader__sell">
              <div class="l-spHeader__index">
                <div class="l-spHeader__title">カルディーコーヒーファームについて</div>
                <p class="l-spHeader__text">ABOUT US</p>
              </div>
              <div class="l-spHeader__sign"></div>
            </div>
          </a>
        </li>
        <li class="l-spHeader__item">
          <a class="l-spHeader__link" href="#">
            <div class="l-spHeader__sell">
              <div class="l-spHeader__index">
                <div class="l-spHeader__title">レシピ</div>
                <p class="l-spHeader__text">RECIPES</p>
              </div>
              <div class="l-spHeader__sign"></div>
            </div>
          </a>
        </li>
        <li class="l-spHeader__item l-spHeader__item--cafe">
          <a class="l-spHeader__link" href="#">
            <div class="l-spHeader__sell">
              <div class="l-spHeader__index">
                <div class="l-spHeader__title">カフェ＆レストラン</div>
                <p class="l-spHeader__text">CAFE & RESTAURANTS</p>
              </div>
              <div class="l-spHeader__sign"></div>
            </div>
          </a>
        </li>
        <li class="l-spHeader__item">
          <a class="l-spHeader__link" href="#">
            <div class="l-spHeader__sell">
              <div class="l-spHeader__index">
                <div class="l-spHeader__title">カルディカード</div>
                <p class="l-spHeader__text">KALDI CARD</p>
                <!-- <div class="l-spHeader__picture"></div> -->
              </div>
              <div class="l-spHeader__sign"></div>
            </div>
          </a>
        </li>
        <li class="l-spHeader__item l-spHeader__item--service">
          <a class="l-spHeader__link" href="#">
            <div class="l-spHeader__sell">
              <div class="l-spHeader__index">
                <div class="l-spHeader__title">法人サービス</div>
                <p class="l-spHeader__text">CORPORATE SERVICES</p>
                <!-- <div class="l-spHeader__picture"></div> -->
              </div>
              <div class="l-spHeader__sign"></div>
            </div>
          </a>
        </li>
        <li class="l-spHeader__item l-spHeader__item--question">
          <a class="l-spHeader__link" href="#">
            <div class="l-spHeader__sell l-spHeader__sell--question">
              <div class="l-spHeader__index">
                <div class="l-spHeader__title">お問い合わせ</div>
                <p class="l-spHeader__text">CONTACT US</p>
              </div>
              <div class="l-spHeader__sign"></div>
            </div>
          </a>
        </li>
      </ul>
      <div class="l-spHeader__company">
        <a class="l-spHeader__inner" href="#">
          <div class="l-spHeader__info">企業情報</div>
          <div class="l-spHeader__text l-spHeader__text--more">COMPANY</div>
          <div class="l-spHeader__picture"></div>
        </a>
        <a class="l-spHeader__inner" href="#">
          <div class="l-spHeader__info">お知らせ</div>
          <div class="l-spHeader__text l-spHeader__text--more">NEWS</div>
          <div class="l-spHeader__picture"></div>
        </a>
        <a class="l-spHeader__inner" href="#">
          <div class="l-spHeader__info">採用情報</div>
          <div class="l-spHeader__text l-spHeader__text--more">RECRUIT</div>
          <div class="l-spHeader__picture"></div>
        </a>
      </div>
    </div>
  </div>
</header>
