<header class="l-inHeader js-inHeader">
  <div class="l-inHeader__wrap">
    <div class="l-inHeader__container">
      <div class="l-inHeader__menu">
        <a href="#" class="l-inHeader__logo u-hidden-sp">
          <img src="./assets/images/logo_01.svg" alt="カルディロゴ">
        </a>
        <ul class="l-inHeader__list">
          <li class="l-inHeader__item">
            <a href="#" class="l-inHeader__link">
              <p class="l-inHeader__index">FEATURES</p>
            </a>
          </li>
          <li class="l-inHeader__item">
            <a href="#" class="l-inHeader__link">
              <p class="l-inHeader__index">NEW ITEMS</p>
            </a>
          </li>
          <li class="l-inHeader__item">
            <a href="#" class="l-inHeader__link">
              <p class="l-inHeader__index">PRICE</p>
            </a>
          </li>
          <li class="l-inHeader__item">
            <a href="#" class="l-inHeader__link">
              <p class="l-inHeader__index">ABOUT US</p>
            </a>
          </li>
          <li class="l-inHeader__item">
            <a href="#" class="l-inHeader__link">
              <p class="l-inHeader__index">RECIPES</p>
            </a>
          </li>
          <li class="l-inHeader__item">
            <a href="#" class="l-inHeader__link">
              <p class="l-inHeader__index">KALDI CARD</p>
            </a>
          </li>
          </ul>
          </div>
          <div class="l-inHeader__menuWrap">
            <ul class="l-inHeader__list">
            <li class="l-inHeader__item">
              <a href="#" class="l-inHeader__link">
                <div class="l-inHeader__itemWrap">

                  <div class="l-inHeader__shop"></div>
                  <p class="l-inHeader__index">店舗検索</p>
                </div>
              </a>
            </li>
            <li class="l-inHeader__item">
              <a href="#" class="l-inHeader__link">
                <div class="l-inHeader__itemWrap">
                <div class="l-inHeader__store"></div>
                <p class="l-inHeader__index">オンラインストア</p>
                </div>
              </a>
            </li>
            <li class="l-inHeader__item">
              <a href="#" class="l-inHeader__link">
                <div class="l-inHeader__itemWrap">
                <div class="l-inHeader__office"></div>
                <p class="l-inHeader__index">法人サービス</p>
                </div>
              </a>
            </li>
          </div>
        </ul>

    </div>
  </div>
</header>
