<nav class="l-nav">
  <div class="c-frame">
  <div class="c-frame-wrap">
  <div class="l-nav__wrap">
    <div class="l-nav__container">
    <ul class="l-nav__list">
      <li class="l-nav__item">
        <a href="#features" class="l-nav__link">
  FEATURES
        </a>
      </li>
      <li class="l-nav__item">
        <a href="#" class="l-nav__link">
  NEW ITEMS
        </a>
      </li>
      <li class="l-nav__item">
        <a href="#" class="l-nav__link">
  SPECIAL PRICE
        </a>
      </li>
      <li class="l-nav__item">
        <a href="#" class="l-nav__link">
  ABOUT US
        </a>
      </li>
      <li class="l-nav__item">
        <a href="#" class="l-nav__link">
  RECIES
        </a>
      </li>
      <li class="l-nav__item">
        <a href="#" class="l-nav__link">
  KALDI CARD
        </a>
      </li>
    </ul>
  </div>
</div>
</div>
</div>

</nav>
