.c-back {
  line-height: 0;
  &__fir {
    background-image: url('#{$bgPath}back_01.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
    margin-top: -1px;
    @include mq(u-sp) {
      width: 100%;
      min-height: 10.2vh;
    }
    @include mq(o-sp) {
      width: 100%;
      min-height: 32vh;
    }
  }
  &__sec {
    background-image: url('#{$bgPath}back_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 99;
    margin-top: -1px;
    @include mq(u-sp) {
      width: 100%;
      min-height: 10.2vh;
    }
    @include mq(o-sp) {
      width: 100%;
      min-height: 32vh;
    }
  }
  &__thir {
    background-image: url('#{$bgPath}back_03.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 99;
    margin-top: -1px;
    @include mq(u-sp) {
      width: 100%;
      min-height: 10.2vh;
    }
    @include mq(o-sp) {
      width: 100%;
      min-height: 32vh;
    }
  }
}
