.l-footer {
  color: #fff;
  background-color: #411e0a;
  @include mq(u-sp) {
    display: none;
  }
  @include mq(o-sp) {
    padding-bottom: 40px;
  }

  &__wrap {
    @include mq(o-sp) {
      max-width: 1280px;
      position: relative;
    }
  }
  &__container {
    @include mq(o-sp) {
      display: flex;
      margin-left: 120px;
      padding-top: 40px;
    }
  }
  &__item {
    @include mq(o-sp) {
      margin-top: 20px;
    }
    &:first-child {
      @include mq(o-sp) {
        margin-top: 0;
      }
    }
    &:hover {
      @include mq(o-sp) {
        text-decoration: underline;
      }
    }
  }
  &__link {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    @include mq(o-sp) {
    }
  }
  &__heading {
    @include mq(o-sp) {
      font-size: 16px;
      font-weight: bold;
    }
  }
  &__border {
    @include mq(o-sp) {
      margin-top: 8px;
      border-bottom: 2px solid #734d2d;
    }
  }
  &__detail {
    @include mq(o-sp) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__online {
    @include mq(o-sp) {
      margin-left: 70px;
    }
  }
  &__onlinestore {
    @include mq(o-sp) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__tocItem {
    @include mq(o-sp) {
      width: 182px;
      margin-top: 14px;
    }
    &:hover {
      @include mq(o-sp) {
        text-decoration: underline;
      }
    }
  }
  &__tocLink {
    @include mq(o-sp) {
      font-size: 14px;
    }
    &:hover {
      @include mq(o-sp) {
        text-decoration: underline;
      }
    }
  }
  &__pointItem {
    @include mq(o-sp) {
      width: 182px;
      margin-top: 14px;
    }
  }
  &__pointLink {
    @include mq(o-sp) {
      font-size: 14px;
    }
    &:hover {
      @include mq(o-sp) {
        text-decoration: underline;
      }
    }
  }
  &__others {
    @include mq(o-sp) {
      margin-left: 70px;
    }
  }
  &__othersItem {
    @include mq(o-sp) {
      margin-top: 14px;
    }
    &:last-of-type {
      @include mq(o-sp) {
        border: 1px solid #fff;
        border-radius: 5px;
        height: 30px;
        padding: 4px 10px 0;
      }
      &:hover {
        @include mq(o-sp) {
          opacity: 0.5;
          transition: 0.3s;
          text-decoration: underline solid $colorBrown;
        }
      }
    }
  }
  &__othersLink {
    @include mq(o-sp) {
      display: flex;
      font-size: 14px;
      white-space: nowrap;
    }
    &:hover {
      @include mq(o-sp) {
        text-decoration: underline;
      }
    }
  }
  &__sns {
    @include mq(o-sp) {
      margin: 0 540px;
    }
  }
  &__snsList {
    @include mq(o-sp) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
    }
  }
  &__snsLink {
    @include mq(o-sp) {
      display: inline-block;
      width: 26px;
    }
    &:hover {
      @include mq(o-sp) {
        opacity: 0.5;
        transition: 0.3s;
      }
    }
  }
  &__borderMore {
    @include mq(o-sp) {
      border-bottom: 1px solid #734d2d;
      margin: 16px 40px 0;
    }
  }
  &__closing {
    @include mq(o-sp) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 40px 0;
    }
  }
  &__terms {
    @include mq(o-sp) {
      display: flex;
    }
  }
  &__text {
    @include mq(o-sp) {
      font-size: 12px;
      margin-right: 30px;
    }
    &:hover {
      @include mq(o-sp) {
        text-decoration: underline;
      }
    }
  }
  &__otherspicture {
    background-image: url('#{$bgPath}square_02.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    margin-left: 4px;
  }
  &__information {
    @include mq(o-sp) {
      font-size: 10px;
    }
  }
  &__sign {
    @include mq(o-sp) {
      position: relative;
      display: inline-block;
      color: #fff;
      margin-left: 94px;
    }
    &::after {
      @include mq(o-sp) {
        content: '';
        width: 7px;
        height: 7px;
        border: 0;
        border-top: solid 1px #fff;
        border-right: solid 1px #fff;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px;
        transform: rotate(45deg);
      }
    }
  }
}
