.l-header {
  background-color: #004099;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 100px;
  }
  &__logo {
    width: 130px;
    height: 50px;
    margin-top: 4px;

    &:hover {
      opacity: 0.7;
      transition: 0.7s;
    }
  }
  &__menu {
    color: #fff;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    text-align: center;
    margin: 0 6px;

    &:hover {
      opacity: 0.7;
      transition: 0.7s;
    }
  }
  &__itemWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 30px;
    padding: 0 14px;
  }
  &__shop {
    width: 16px;
    height: 16px;
    background-image: url('#{$bgPath}icon_01.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__store {
    width: 16px;
    height: 16px;
    background-image: url('#{$bgPath}icon_02.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__office {
    width: 18px;
    height: 18px;
    background-image: url('#{$bgPath}icon_03.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__index {
    font-size: 14px;
    margin-left: 8px;
  }
}
