.l-inHeader {
  color: #fff;
  background-color: #004099;
  @include mq(o-sp) {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 100;
    transform: translateY(-100%);
    transition: 0.3s ease-out;
  }

  &.is-active {
    @include mq(o-sp) {
      transform: translateY(0%);
    }
  }

  &__wrap {
    @include mq(o-sp) {
      margin: 0 10%;
    }
  }
  &__container {
    @include mq(o-sp) {
      display: flex;
      align-items: center;
      height: 80px;
    }
  }
  &__logo {
    @include mq(o-sp) {
      width: 130px;
      // margin-top: 4px;
      height: 50px;
    }
  }
  &__menu {
    @include mq(o-sp) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      font-weight: bold;
      margin-left: 8%;
    }
  }
  &__menuWrap {
    @include mq(o-sp) {
      display: flex;
      align-items: center;
      text-align: center;
      width: 90px;
      font-size: 10px;
      margin-left: -6;
    }
  }
  &__list {
    @include mq(o-sp) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 608px;
      width: 48vw;
    }
  }
  &__item {
    @include mq(u-sp) {
      display: none;
    }
    @include mq(o-sp) {
      margin: 0 auto;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      &:hover {
        background-color: #000080;
        color: $colorWhite;
        transition: 1s;
      }
    }
  }
  &__link {
    @include mq(o-sp) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__shop {
    @include mq(o-sp) {
      margin: 0 auto 6px;
      width: 32px;
      height: 32px;
      background-image: url('#{$bgPath}icon_01.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__store {
    @include mq(o-sp) {
      margin: 0 auto 6px;
      width: 32px;
      height: 32px;
      background-image: url('#{$bgPath}icon_02.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__office {
    @include mq(o-sp) {
      margin: 0 auto 6px;
      width: 32px;
      height: 32px;
      background-image: url('#{$bgPath}icon_03.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__index {
    @include mq(o-sp) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__indexMore {
    @include mq(o-sp) {
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .is-fixed {
    @include mq(o-sp) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
    }
  }
  &__listMore {
    display: flex;
    max-width: 264px;
  }
  &__itemMore {
    padding: 0 6%;
  }
}
