<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %>

<% include src/ejs/template/_header %>

  <div class="p-topSlide">
    <div class="js-top-slide p-topSlide__list">
      <div class="p-topSlide__item">
        <a href="#" class="p-topSlide__link"></a>
      </div>
      <div class="p-topSlide__item--next">
        <a href="#" class="p-topSlide__link"></a>
      </div>
    </div>
  </div>

<% include src/ejs/template/_inHeader %>

<% include src/ejs/template/_nav %>

<main class="l-main">

  <div class="p-news">
    <div class="c-frame">
      <div class="p-news__wrap">
        <div class="p-news__container">
          <h3 class="p-news__title">重要なお知らせ</h3>
          <div class="p-news__index">新型コロナウィルス感染症拡大に伴う店舗営業状況について【更新2021年9月22日】</div>
          <div class="p-news__inner">
            <div class="c-read">
              <a href="#" class="c-read__post">
                <div class="c-read__wrap">
                  <div class="p-news__line">
                    <p class="c-read__read">もっと見る</p>
                  </div>
                  <div class="c-read_sign"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="features" class="p-feature">
    <div class="c-frame">
      <div class="c-frame-wrap">
        <div class="c-title">
          <h1 class="c-title__heading">FEATURES</h1>
          <h3 class="c-title__sub">特集</h3>
        </div>
        <div class="p-feature__wrap">
          <div class="p-feature__container">
            <div class="p-feature__eyecatch">
              <a href="#" class="p-feature__regard"><img src="./assets/images/feature_02.jpg" alt="福袋"></a>
              <div class="p-feature__index">
              <div class="p-feature__mark">NEW</div>
              <p class="p-feature__date">2021.11.01</p>
            </div>
            <a href="#" class="p-feature__title">2022年新春発売！カルディコーヒーファームの福袋記事に飛ぶタイトル</a>
          </div>
          <div class="p-feature__topic">
            <ul class="p-feature__list">
      <li class="p-feature__item">
        <a href="#" class="p-feature__link">
          <img src="./assets/images/feature_02.jpg" alt="福袋">
        </a>
        <div class="p-feature__index">
          <div class="p-feature__mark">NEW</div>
          <p class="p-feature__date">2021.11.01</p>
        </div>
        <a href="#" class="p-feature__title">待ちに待ったクリスマスシーズンが到来！約200種類のクリスマスアイテムが大集合</a>
      </li>
      <li class="p-feature__item">
        <a href="#" class="p-feature__link">
          <img src="./assets/images/feature_02.jpg" alt="福袋">
        </a>
        <div class="p-feature__index">
          <div class="p-feature__mark">NEW</div>
          <p class="p-feature__date">2021.11.01</p>
        </div>
        <a href="#" class="p-feature__title">【特典10％OFF】11/18（木）解禁！ボージョレ・ヌーヴォーご予約受付中</a>
      </li>
      <li class="p-feature__item">
        <a href="#" class="p-feature__link">
          <img src="./assets/images/feature_02.jpg" alt="福袋">
        </a>
        <div class="p-feature__index">
          <div class="p-feature__mark">NEW</div>
          <p class="p-feature__date">2021.10.26</p>
        </div>
        <a href="#" class="p-feature__title">自分好みの味を見つけよう！カルディおすすめの鍋つゆ特集</a>
      </li>
      <li class="p-feature__item">
        <a href="#" class="p-feature__link">
          <img src="./assets/images/feature_02.jpg" alt="福袋">
        </a>
        <div class="p-feature__index">
          <div class="p-feature__mark">NEW</div>
          <p class="p-feature__date">2021.10.26</p>
        </div>
        <a href="#" class="p-feature__title">香ばしい余韻と甘みが広がる個性的な「ニルトンさんのコーヒー」の旅へご案内！</a>
      </li>
            </ul>
        </div>
      </div>
    </div>
    <a href="#" class="c-add">
      <div class="c-add__wrap">
        <div class="c-add__container">
          <button class="c-add__more">もっと見る</button>
        </div>
      </div>
    </a>
    </div>
    </div>
  </div>

  <div class="c-back">
    <div class="c-back__fir"></div>
    <div class="c-back__firBorder"></div>
  </div>


  <div class="p-newItems">

    <div class="c-frame">
      <div class="c-frame-wrap">
      <div class="c-title">
        <h1 class="c-title__heading">NEW ITEM</h1>
        <h3 class="c-title__sub">新商品</h3>
      </div>

      <div class="p-newItems__wrap">
        <div class="p-newItems__container">

          <ul class="p-newItems__list">
            <li class="p-newItems__item">

                <a href="#" class="p-newItems__link--big">
                  <img src="./assets/images/newitems_02.jpg" alt="豆腐">
                </a>

                <div class="p-newItems__introduction--big">
                  <a href="#" class="p-newItems__text">台湾から本場の味をお届け！豆乳のやさしい甘さと、ぷるぷる食感がたまらない「愛之味 ピーナッツ豆花」</a>
                </div>

            </li>

            <li class="p-newItems__item">
                <a href="#" class="p-newItems__link--sec">
                  <img src="./assets/images/newitems_02.jpg" alt="豆腐">
                </a>

                <div class="p-newItems__introduction--sec">
                  <a href="#" class="p-newItems__text">LEDライト付きアドベントカレンダー「オリジナル ウッドハウスカレンダー（ライト付き）」</a>
                </div>

            </li>


            <li class="p-newItems__item">

                <a href="#" class="p-newItems__link">
                  <img src="./assets/images/newitems_02.jpg" alt="豆腐">
                </a>

                <div class="p-newItems__introduction">
                  <a href="#" class="p-newItems__text">ブランデーの芳醇な香りと、ひかえめの甘さが大人リッチな栗スイーツ♪「オリジナル ブランデーマロン」</a>
                </div>
            </li>

          </ul>

        </div>
      </div>

      <a href="#" class="c-add">
        <div class="c-add__wrap">
          <div class="c-add__container">
          <button class="c-add__more">オンラインストアへ</button>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>

<div class="c-back">
  <div class="c-back__sec"></div>
</div>

  <div class="p-specialPrice">
    <div class="c-frame">
    <div class="c-title">
      <h1 class="c-title__heading">SPECIAL PRICE</h1>
      <h3 class="c-title__sub">お買い得情報</h3>
    </div>

    <div class="p-centerSlide">
      <div class="js-center-slide p-centerSlide__list">
        <div class="p-centerSlide__item">
          <div class="p-card">
            <div class="p-card__wrap">
              <a href="#" class="p-card__link"></a>
              <div class="p-card__container">
              <h3 class="p-card__title">【11/14（日）まで】今年も採れたての新いもで作りました！塩けんぴが期間限定でお買得！</h3>
              <p class="p-card__text">芋の風味がしっかり味わえる宮崎県産黄金千貫のさつまいもを使用した、細切りで食べやすいカリッと食感の塩けんぴです。</p>
              <p class="p-card__order">
                <strong>もへじ 塩けんぴ 税込￥198</strong>
              </p>
              <div class="p-card__inner">
                <div class="c-read">
                  <a href="#" class="c-read__post">
                    <p class="c-read__read">もっと見る</p>
                    <div class="c-read_sign"></div>
                  </a>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-centerSlide__item">
          <div class="p-card">
            <div class="p-card__wrap">
              <a href="#" class="p-card__link"></a>
              <div class="p-card__container">
              <h3 class="p-card__title">【11/30（火）まで】贅沢な味わいの樽熟ワインがお買得！</h3>
              <p class="p-card__text">コクと深み、奥行きのある味わいや、まろやかな印象が特徴の樽熟成ワインを特別価格で取り揃えます。</p>
<div class="p-card__inner">
              <div class="c-read">
                <a href="#" class="c-read__post">
                  <p class="c-read__read">もっと見る</p>
                  <div class="c-read_sign"></div>
                </a>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-centerSlide__item">
          <div class="p-card"></div>
            <div class="p-card__wrap">
              <a href="#" class="p-card__link"></a>
              <div class="p-card__container">
              <h3 class="p-card__title">【11/30（火）まで】フェアトレードコーヒー20％OFF</h3>
              <p class="p-card__text">女性たちの手によって大切に丁寧に収穫された、やさしく繊細な味わいと自然な甘さの「 ウーマンズハンド フェアトレードブレンド」をはじめ、自然と共生しながら持続可能なコーヒー生産を続けるフェアトレード認証のオリジナルコーヒー豆4種が、11/30（火）まで期間限定価格でお楽しみいただけます。</p>
              <div class="p-card__inner">
              <div class="c-read">
                <a href="#" class="c-read__post">
                  <p class="c-read__read">もっと見る</p>
                  <div class="c-read_sign"></div>
                </a>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- </div> -->
  </div>

  <div class="c-back">
    <div class="c-back__thir"></div>
  </div>

  <div class="p-public">
    <div class="c-frame">
      <div class="c-frame-wrap">
  <div class="p-public__wrap">

  <div class="p-public__container">
    <div class="p-public__title">メディア掲載</div>
    <p class="p-public__border"></p>
    <ul class="p-public__list">
      <li class="p-public__item">
        <a href="#" class="p-public__link">テレビで紹介いただきました（2021/11/2放送）</a>
      </li>
      <li class="p-public__item">
        <a href="#" class="p-public__link">テレビで紹介いただきました（2021/10/4放送）</a>
      </li>
      <li class="p-public__item">
        <a href="#" class="p-public__link">テレビで紹介いただきました（2021/10/4放送）</a>
      </li>
    </ul>
    <div class="p-public__inner">
      <div class="c-read">
        <a href="#" class="c-read__post">
          <p class="c-read__read">もっと見る</p>
          <div class="c-read_sign"></div>
        </a>
      </div>
    </div>
  </div>

  <div class="p-public__container">
    <div class="p-public__title">お知らせ</div>
    <p class="p-public__border"></p>
    <ul class="p-public__list">
      <li class="p-public__item">
        <a href="#" class="p-public__link">コーヒー豆価格改定のお知らせ</a>
      </li>
      <li class="p-public__item">
        <a href="#" class="p-public__link">コーヒー豆ポイントに関するサービス終了のお知らせ</a>
      </li>
      <li class="p-public__item">
        <a href="#" class="p-public__link">「オリジナル いぬの日お散歩バッグ 2021」に関するお知らせ</a>
      </li>
    </ul>
    <div class="p-public__inner">

      <div class="c-read">
        <a href="#" class="c-read__post">
          <p class="c-read__read">もっと見る</p>
          <div class="c-read_sign"></div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  </div>

  <div class="p-indicate u-hidden-sp">
    <div class="c-frame">
      <div class="c-frame-wrap">
        <div class="p-indicate__wrap pc">
          <div class="p-indicate__inner pc">
            <div class="p-indicate__container pc">
              <div class="p-indicate__item p-indicate__item--fir">
                <a href="#" class="p-indicate__link"></a>
              </div>
              <div class="p-indicate__board">
                <h3 class="p-indicate__appeal">お客様に感動の空有感を演出する</h3>
                <h2 class="p-indicate__title">カルディファームコーヒー</h2>
                <div class="p-indicate__load">
                  <div class="c-read">
                    <a href="#" class="c-read__post">
                      <p class="p-indicate__read">もっと見る</p>
                      <div class="c-read_sign"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="p-indicate__inner pc">
            <div class="p-indicate__container p-indicate__container--middle pc">
              <div class="p-indicate__item p-indicate__item--middle">
                <a href="#" class="p-indicate__link"></a>
              </div>
              <div class="p-indicate__board p-indicate__board--middle">
                <h2 class="p-indicate__title">コーヒーへのこだわり</h2>
                <div class="p-indicate__load">
                  <div class="c-read">
                    <a href="#" class="c-read__post">
                      <p class="p-indicate__read">もっと見る</p>
                      <div class="c-read_sign"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="p-indicate__inner pc">
            <div class="p-indicate__container pc">
              <div class="p-indicate__item p-indicate__item--small">
                <a href="#" class="p-indicate__link"></a>
              </div>
              <div class="p-indicate__board p-indicate__board--small">
                <h2 class="p-indicate__title">ワインへのこだわり</h2>
                <div class="p-indicate__load">
                  <div class="c-read">
                    <a href="#" class="c-read__post">
                      <p class="p-indicate__read">もっと見る</p>
                      <div class="c-read_sign"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="p-spIndicate u-hidden-pc">
  <!-- <div class="c-frame">
    <div class="c-frame-wrap"> -->
      <div class="p-spIndicate__wrap">
        <div class="p-bottomSlide">

          <div class="js-bottom-slide p-bottomSlide__list">
            <div class="p-bottomSlide__item">
              <a href="#" class="p-bottomCard">
                <div class="p-bottomCard__link"></div>
                <div class="p-bottomCard__inner">
                  <div class="p-bottomCard__container">

                    <h3 class="p-bottomCard__text">お客様に<br>感動の空有感を演出する</h3>
                    <h2 class="p-bottomCard__title">カルディファームコーヒー</h2>
                  </div>
                </div>
              </a>
            </div>
            <div class="p-bottomSlide__item">
                    <a href="#" class="p-bottomCard">
              <div class="p-bottomCard__link"></div>
              <div class="p-bottomCard__inner p-bottomCard__inner--middle">
                <div class="p-bottomCard__container p-bottomCard__container--middle">
                  <h2 class="p-bottomCard__title">コーヒーへのこだわり</h2>
                </div>
              </div>
              </a>
            </div>
            <div class="p-bottomSlide__item">
              <a href="#" class="p-bottomCard">
            <div class="p-bottomCard__link"></div>
              <div class="p-bottomCard__inner p-bottomCard__inner--small">
                <div class="p-bottomCard__container p-bottomCard__container--small">
                  <h2 class="p-bottomCard__title">ワインへのこだわり</h2>
                </div>
              </div>
            </a>
            </div>
          </div>
        </div>
      </div>
  <!-- </div>
</div> -->
  </div>


  <div class="p-deployment">
  <div class="c-frame">
    <div class="c-frame-wrap">
  <div class="p-deployment__wrap">
    <div class="p-deployment__container">
      <a href="#" class="p-deployment__inner">
        <div class="p-deployment__picture p-deployment__picture--fir"></div>
        <div class="p-deployment__innerWrap">
          <h2 class="p-deployment__title">CAFE & RESTAURANTS</h2>
          <p class="p-deployment__text">カフェ&レストラン</p>
        </div>
      </a>
    </div>
    <div class="p-deployment__container">
      <a href="#" class="p-deployment__inner">
        <div class="p-deployment__picture p-deployment__picture--more"></div>
          <div class="p-deployment__innerWrap">
          <h2 class="p-deployment__title">CORPORATE SERVICES</h2>
          <p class="p-deployment__text">法人サービス</p>
          </div>
      </a>
    </div>
  </div>
  </div>
  </div>
<div class="p-deployment__dog"></div>
  </div>

</main>

<% include src/ejs/template/_footer %>
