.p-deployment {
  background-color: #919b51;
  @include mq(o-sp) {
    padding-top: 60px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(u-sp) {
      padding-top: 40px;
    }
    @include mq(o-sp) {
    }
  }
  &__container {
    position: relative;
    @include mq(u-sp) {
      margin-left: 12px;
    }
    &:hover {
      @include mq(o-sp) {
        opacity: 0.8;
        transition: 0.7s;
      }
    }
  }
  &__inner {
    color: $colorWhite;
  }
  &__picture {
    &--fir {
      background-image: url('#{$bgPath}deployment_01.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      @include mq(u-sp) {
        width: 44vw;
        height: 28vw;
      }
      @include mq(o-sp) {
        width: 44vw;
        max-width: 580px;
        height: 250px;
      }
    }
    &--more {
      background-image: url('#{$bgPath}deployment_02.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      @include mq(u-sp) {
        width: 44vw;
        height: 28vw;
      }
      @include mq(o-sp) {
        width: 44vw;
        max-width: 580px;
        height: 250px;
      }
    }
  }
  &__innerWrap {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    font-weight: bold;
    text-align: center;
    @include mq(u-sp) {
      font-size: 20px;
    }
    @include mq(o-sp) {
      font-size: 36px;
    }
  }
  &__text {
    text-align: center;
    @include mq(u-sp) {
      font-size: 13px;
    }
    @include mq(o-sp) {
      font-size: 16px;
    }
  }
  &__dog {
    &::before {
      content: '';
      display: block;
      background-image: url('#{$bgPath}inu_03.png');
      background-repeat: no-repeat;
      background-size: contain;
      @include mq(u-sp) {
        width: 28vw;
        height: 18vw;
        position: relative;
        top: 6px;
        left: 70%;
      }
      @include mq(o-sp) {
        width: 120px;
        height: 80px;
        position: relative;
        top: 6px;
        left: 80vw;
      }
    }
  }
}
