.p-topSlide {
  .slick-list {
    position: relative;
    @include mq(u-sp) {
    }
    @include mq(o-sp) {
    }
  }
  .slick-track {
  }
  &__list {
    margin: 0;
    padding: 0;
    line-height: 0;
    @include mq(o-sp) {
    }
  }
  &__item {
    display: block;
    background-image: url('#{$bgPath}top_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include mq(u-sp) {
      height: 376px;
    }
    @include mq(o-sp) {
      height: 520px;
    }
    &--next {
      display: block;
      background-image: url('#{$bgPath}top_02.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      @include mq(u-sp) {
        height: 376px;
      }
      @include mq(o-sp) {
        height: 520px;
      }
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    display: block;
    @include mq(o-sp) {
    }
  }
  .slick-prev.slick-arrow {
    margin: 0;
    padding: 0;
    line-height: 0 !important;
    @include mq(o-sp) {
    }
    &::before {
      content: '';
      display: block;
      background-image: url('#{$bgPath}arrow_left.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      opacity: 1;
      width: 28px;
      height: 28px;
      @include mq(u-sp) {
      }
      @include mq(o-sp) {
      }
    }
    &:hover {
      @include mq(o-sp) {
        opacity: 0.7;
        transition: 0.5s;
      }
    }
  }
  .slick-next.slick-arrow {
    &::before {
      content: '';
      display: block;
      background-image: url('#{$bgPath}arrow_right.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 28px;
      height: 28px;
      opacity: 1;
      @include mq(o-sp) {
      }
    }
    &:hover {
      @include mq(o-sp) {
        opacity: 0.7;
        transition: 0.5s;
      }
    }
  }
  .slick-prev {
    position: absolute !important;
    z-index: 1;
    @include mq(u-sp) {
      top: 86% !important;
      left: 32% !important;
    }
    @include mq(o-sp) {
      top: 90% !important;
      left: 40% !important;
    }
  }
  .slick-next {
    z-index: 1;
    position: absolute !important;
    @include mq(u-sp) {
      top: 88% !important;
      left: 60% !important;
    }
    @include mq(o-sp) {
      top: 92% !important;
      right: 41% !important;
    }
  }
  .slick-dots {
    bottom: 30px;
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    font-size: 1px;
    @include mq(o-sp) {
    }
  }
  .slick-dots li.slick-active button:before {
    content: '●';
    opacity: 1;
    color: #fff;
    @include mq(o-sp) {
    }
  }

  .slick-dotted.slick-slider {
    margin: 0px;
    @include mq(o-sp) {
    }
  }
  .slick-dots li button:before {
    content: '◯';
    font-weight: bold;
    text-align: center;
    opacity: 1;
    color: #fff;
    -webkit-text-stroke: 1px #fff;
    @include mq(o-sp) {
    }
  }
  .slick-slide {
    background: center center no-repeat;
    background-size: cover;
    @include mq(o-sp) {
    }
  }
}
